<form>
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput [value]="data.name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Descrição</mat-label>
        <input matInput [value]="data.description">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Data de término</mat-label>
        <input matInput [value]="data.finishDate" type="date">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Lugar</mat-label>
        <input matInput [value]="data.place">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Data de inicio</mat-label>
        <input matInput [value]="data.startDate" type="date">
    </mat-form-field>

<!-- TODO: Implementar alunos -->
</form>